<h1>History Dynamics</h1>
<p>Welcome to History Dynamics. This site contains an application to simulate power profiles for major dynasties. This approach utilizes the following assumptions:</p>

		<ul>
            <li>Dynasties are large and substnatially independent of other large dynasties that concurrently exist on the Earth.</li>
			<li>Once started, dynasties are robust for most of ther life spans.</li>

        </ul>
<P>Application:</P>
		<ul>
            <li class="active"><a href="/simple/start">Simple Dynasty Simulator</a></li>

          </ul>
		  
